
// Distance, size
$gap: 10px;
$spacebar: 1em;
$navbar-app-height: 48px;
$navbar-app-padding: 5em;
$app-font-size: 14px;
$i-font-size: 30px;

// Color
$app-bg-color: #ff929b;
$app-main-text-color: #333;
$app-button-color: #fbced5;
$content-bg-color: #ffebee;

// radius
$border-radius: 7px;

// Screen
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;